[defaults]

# Paths to search for roles, colon separated
roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:./..

# Paths to search for collections, colon separated
collections_path = ~/.ansible/collections:/usr/share/ansible/collections:./../../..

deprecation_warnings=False
