<pool type='dir'>
  <name>{{ vol_pool.name }}</name>
  <target>
    <path>{{ vol_pool.path }}</path>
    <permissions>
      <mode>0755</mode>
      <owner>1038</owner>
      <group>100</group>
    </permissions>
  </target>
</pool>

