# static configuration
network:
  version: 2
  ethernets:
{% for interface in interfaces %}
    "{{ interface.interface_name }}":
{% if interface.address is defined %}
      dhcp4: no
      addresses: ["{{ interface.address_cidr | next_nth_usable(index) }}"]
{% else %}
      dhcp4: yes
{% endif %}
{% if interface.gateway is defined %}
      gateway4: "{{ interface.gateway }}"
{% endif %}
{% if interface.nameservers is defined %}
      nameservers:
{% if domain_name is defined %}
        search: ["{{ domain_name }}"]
{% endif %}
        addresses: ["{{ interface.nameservers }}"]
{% for nameserver in interface.nameservers %}
            - "{{ nameserver }}"
{% endfor %}
{% endif %}
{% endfor %}
